<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Mpesa </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-badge>{{ plat }}</ion-badge>
    <br />
    <ion-label>Coloque o seu Numero</ion-label>
    <ion-input type="number" [(ngModel)]="cusnmr"></ion-input>
    <ion-label>Coloque o valor</ion-label>
    <ion-input type="number" [(ngModel)]="amount"></ion-input>
    <ion-button (click)="doMpesa()">PAY</ion-button>
    <p>RESPOSTA: {{ response }}</p>
    <br />
    NMR: {{cusnmr}}
  </ion-card>
  <ion-item>
    STATUS:
    <ion-badge color="success" *ngIf="status">{{ status }}</ion-badge>
    <ion-badge color="danger" *ngIf="!status">{{ status }}</ion-badge>
  </ion-item>
</ion-content>
